.upper-row {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.bottom-row {
  width: 90%;
  display: flex;
  flex-direction: row;
  padding-left: 80px;
  bottom: 20px;
  border-style: solid;
  border-radius: 10px;
  border-color: #ebebeb;
}
.container-work {
  float: left;
  width: 33%;

  padding: 70px;
  margin: 10px;
  border-style: solid;
  border-radius: 10px;
  border-color: #ebebeb;
}
.computer-description-box {
  padding-left: 20px;
  margin-left: 20px;
}
button {
  border-radius: 8px;
  font-size: 12px;
  padding: 10px;
  text-align: center;
}
#work-buttons {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
#button-loan {
  background-color: #4bf1a1;
}
#button-transfer-salary {
  background-color: #edef4c;
}
#repay-loan {
  background-color: #f00edd;
}
#button-work {
  background-color: #4d70f0;
  color: azure;
}
#laptop-button {
  background-color: #4cc9f1;
}
